@import '~@samhuk/table/src/component/styles/index.scss';
@import '~@samhuk/paginator/src/component/styles/index.scss';

.com-data-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .com-table__rows-wrapper {
    min-height: 200px;
  }

  .com-paginator {
    margin-top: 20px;
  }
}
