.com-resizer {
  position: absolute;
  width: 8px;
  height: 100%;
  right: -4px;
  cursor: col-resize;
  z-index: 1000;

  &:hover {
    background-image: linear-gradient(90deg, transparent, #666, transparent); 
  }
}